<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Category</title>
</head>
<body>
    {% include "logged_navbar.html" %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-12">
                <h3 class="text-center mb-4">Update Category:<b style="color: #6610f2;"> {{ category.category_name}}</b> </h3>
            </div>
        </div>
        <div class="row  mt-2">
            <div class="col-sm-6 mx-auto">
                <form action="/category/update/{{ category.category_name }}" method="post">
                        <input type="text" placeholder="Category Name" class="form-control"  name="category_name" required>
                        <div class="text-center mt-4">
                            <input type="submit" class="btn btn-outline-success mb-4" value="Update">
                            <a class="btn btn-outline-danger mb-4" href="{{ url_for('admin_dashboard')}}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-2 text-center">
            {% if error=="yes" %}
                <b style="color: #ff0000;"><p>Should contain only letter and digts and no special symbols like space, emojis etc.!!</p></b>
            {% endif %}
        </div>
    </div>
</body>
</html>